@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
p, div{
    font-family: 'New Rocker', cursive;
    font-size: 30px;
}
body{
    font-size: 16px;
    background-color: lightgray;
}

#header-nav{
    height: 100px;
    background-color: gray;
}

.navbar-header{
    padding-top: 25px;
    font-size: 40px;

}
