@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
p, div,h2{
    font-family: 'New Rocker', cursive;
    font-size: 30px;
}
body{
    background-color: lightgray;
}

#header-nav{
    background-color: gray;
}

.navbar-header{
    padding-top: 1px;
    font-size: 40px;
    padding-bottom: 1px;
}

#text{
    margin-top: 10px;
    background-color: gray;
}
